.main-footer {
  margin-top: auto;
  background-color: $text_blue;
}

.main-footer-links-wrapper {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.container__copyright {
  height: 120px;
}

.copyright-wrapper {
  margin-inline: -20px;
  padding-block: 30px;
  padding-inline: 8%;
  // padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  background-color: $bg_dark-blue;
}

.main-footer-links {
  display: flex;
}
