.gallery {
  margin-bottom: 216px;
}

.gallery-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.gallery-item {
  width: 341px;
  height: 267px;
  background-color: $bg-blue;
  box-shadow: 10px -10px 20px $basic_color--transparent;
}

.container-wide {
  margin: 0;
  padding: 0;
}

.section-title.gallery-title {
  margin-bottom: 69px;
  text-align: center;
}
