.main-header {
  position: relative;
  padding-top: 30px;
  margin-bottom: 50px;
}

.main-header-nav--bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  background: linear-gradient(to right, $bg_dark-blue--transparent, $bg_dark-blue);
  border-radius: 10% 0 0 50%;
  box-shadow: 10px 0 30px $bg_dark-blue;
  z-index: -1;
}

.header-bg {
  position: relative;
  margin-bottom: 125px;
  background-origin: padding-box;
  background: url("../img/bg.png"), url("../img/bg-2.png"), url("../img/bg-3.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.main-header-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.city-list {
  display: flex;
  gap: 40px;
  margin-right: auto;
  min-width: max-content;
  margin-left: 8vh;
  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-wrap: wrap;
  gap: 5px;
}

.site-navigation-item {
  margin-right: 40px;
  width: max-content;
}

.link-item {
  color: $basic_white;
}

.link-blue {
  color: $text_blue;
  font-weight: bold;
}

.link-register {
  flex: 0 1 auto;
  margin-right: 10vh;
  margin-left: auto;
  padding: 10px 25px;
  border-radius: 50px;
  text-align: center;
  background-color: $basic_white;
  color: $text_blue;
}
