section.audience.bg
    .container.container--audience
      h2.section-title
        | Кому и зачем знать
        span Customer Development
      ul.audience-list
        li.audience-item
          p.audience-item-category Продуктовому #[br]дизайнеру
          p.audience-item-description
            | Лучше узнать потребность клиента и научиться быстро проверять
            | прототипы и#[br]
            | макеты на пользователях чтобы исправлять ошибки и делать интерфейсы кратно качественнее
        li.audience-item
          p.audience-item-category Продакт-#[br]менеджерам
          p.audience-item-description
            | Идеально знать мотивацию своих пользователей и принимать продуктовые
            | решения быстрее и значительно качественнее
        li.audience-item
          p.audience-item-category Основателям #[br]стартапов
          p.audience-item-description
            | Запустить процесс проверки гипотез в котором вы быстрее и ЗНАЧИТЕЛЬНО
            | дешевле найдёте product-market fit
      .ball.ball__position--audience
        .ball__shadow
