footer.main-footer
  .container
    .main-footer-links-wrapper
      ul.city-list
        +city-nav('Санкт-Петербург')
        +city-nav('Москва')
        +city-nav('Минск')
      a.link-register(href='#') Запись на курс
  .main-footer-copyright
    .container.container__copyright
      .copyright-wrapper
        p.copyright Copyright © 2018 All rights reserved
        ul.main-footer-links
          li.main-footer-links-item
            a.main-footer-link(href='#') Договор-оферта
          li.main-footer-links-item
            a.main-footer-link(href='#') Политика конфиденциальности
