mixin photo(title, src, width='341', height='267')
  li.gallery-item
    img.gallery-item-img(src=`img/${src}` width=width height=height alt=title)


section.gallery
    .container-wide
      h2.section-title.gallery-title Как проходили прошлые потоки
      ul.gallery-list
        +photo('photo 1', 'image-8.jpg')
        +photo('photo 2', 'image-7.jpg')
        +photo('photo 3', 'image-6.jpg')
        +photo('photo 4', 'image-5.jpg')
        +photo('photo 5', 'image-4.jpg')
        +photo('photo 6', 'image-3.jpg')
        +photo('photo 7', 'image-2.jpg')
        +photo('photo 8', 'image-1.jpg')
