section.program
    .container.container--programm
      h2.section-title Что будет на курсе
      ul.program-list
        li.program-item
          p.program-item-topic 7 лекций
          p.program-item-description насыщенных практикой
        li.program-item
          p.program-item-topic 2 гипотезы
          p.program-item-description минимум, которые проверишь на курсе
        li.program-item
          p.program-item-topic 3 методички
          p.program-item-description
            | с пошаговым описанием действий #[br]
            | как провести классный CustDev и как
            | проверить любую гипотезу
        li.program-item
          p.program-item-topic 20 интервью
          p.program-item-description с пользователями твоего продукта
      a.program-link(href='#') Смотреть программу полностью
      .ball.ball__size--programm.ball__position--program
        .ball__shadow.ball__shadow--program
