section.promo
    .container
      .promo-wrapper
        .promo-rating-column
          .rating.ball
            .ball__shadow
              p.rating-text Оценка
              p.rating-highlight-text
                span 9
                | &nbsp;из&nbsp;
                span 10
              p.rating-text
                | Иван Матвиенко
                br
                b Wimprof
              a.rating-link(href='#') Читать отзыв
                <svg width="20" height="20" viewBox="0 -3 20 20">
                <use xlink:href="../img/sprite.svg#arrow__right"></use>
                </svg>
        .promo-text-column
          p.promo-text-compact Санкт-петербург 10-21 мая
          p.promo-text.
            Начни делать #[br]
            Customer Development #[br]
            и проверять гипотезы
          p.promo-text-compact На оффлайн курсе из 5 воркшопов
          a.link-register-aqua(href='#') Записаться
