section.result
  .container.container--result
    h2.section-title.result-title Результат
    ul.result-list
      li.result-item
        p.result-item-title
          | Ты начнёшь делать Customer Development и проверять гипотезы в своём проекте
        p.result-item-description
          | Структура курса построена построена вокруг практики в проектах
          | участников курса. 100% слушателей этого курса будут применять оба навыка в своих проектах
      li.result-item
        p.result-item-title Заведенный процесс
        p
          | Обязательной частью обучения будет встройка процессов постоянного #[br]
          | Customer Development и проверки #[br]
          | гипотез в ежедневную рутину
      li.result-item
        p.result-item-title Инструменты, которые останутся с вами надолго
        p.result-item-description
          | Все участники курса получат два набора карт — конструкторы, из которых
          | можно будет собрать идеальный процесс
          | #[br]Customer Development и проверить любую гипотезу
      li.result-item
        p.result-item-title Кейсы и приёмы топовых компаний рунета
        p.result-item-description
          | Расскажу и разберём кейсы, хаки #[br]
          | и нюансы топовых команд России: #[br]
          | SkyEng, Яндекс, Chatfuel
