section.speaker
    .container
      h2.section-title Почему мне можно доверять
      .speaker-wrapper
        .speaker-video
          img.speaker-img(src='img/image-62.jpg' width='727' height='392' alt='Алексей Иванов Ex-Lead Product Manager')
        .speaker-info
          p.speaker-name Алексей Иванов
          p.speaker-post Ex-Lead Product Manager
      ul.speaker-skills-list
        li.speaker-skills-item
          p.speaker-skill Опыт в продукте
          p.speaker-skill-description
            | Отвечал за продукт поиска по изображениям, с помощью Customer
            | Development и юзабилити-исследований
            | добились кратного роста метрик
        li.speaker-skills-item
          p.speaker-skill Обучил CustDev`у 400+ человек
          p.speaker-skill-description
            | 400+ человек уже прошли курс по CustDev и проверке гипотез в рамках
            | отдельного курса, так и в составе
            | программы "Руководитель digital-продукта"
        li.speaker-skills-item
          p.speaker-skill Опыт разработки бота
          p.speaker-skill-description
            | Создавали с нуля конструктор ботов для Messenger и выводили в лидеры
            | рынка конструкторов ботов
        li.speaker-skills-item
          p.speaker-skill Топ-2 — оценка лектора
          p.speaker-skill-description
            | Урезанный курс также читал в крупных digital-школах, студенты
            | оценили как Топ-2 преподавателя
