section.tariff
    .container
      h2.section-title.tariff-title
        | Стоимость для компаний
      ul.tariff-list
        li.tariff-item
          p.tariff-price 32 900 ₽
          p.tariff-description 1 сотрудник
          a.buy-link(href='#') Оформить
        li.tariff-item
          p.tariff-price 29 900 ₽ / чел
          p.tariff-description 2 сотрудника
          a.buy-link(href='#') Оформить
        li.tariff-item
          p.tariff-price 26 900 ₽ / чел
          p.tariff-description 5+ сотрудников
          a.buy-link(href='#') Оформить
        li.tariff-item
          p.tariff-price 25 900 ₽
          p.tariff-description Тариф “Для себя”
          a.buy-link(href='#') Оформить
