$basic_color: #636363;
$basic_color--transparent: rgba(99, 99, 99, 0.11);
$basic_black: #000000;
$background: #ffffff;
$basic_white: #ffffff;
$bg-blue: rgb(239, 246, 250);
$bg_dark-blue: rgb(36, 77, 151);
$text_blue: rgb(57, 134, 235);
$text_blue--transparent: rgb(57, 134, 235, 0.3);
$light_blue: rgba(208, 205, 255, 0.59);
$ball_mini: rgb(59, 121, 255);
$ball_outline: rgb(57, 134, 235, 0.1);
$button_aqua: rgb(80, 235, 209);
$button_aqua--transparent: rgba(80, 235, 209, 0.5);
