img {
  max-width: 100%;
  height: auto;
}

a {
  color: $basic_color;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input:focus {
  border: 2px solid $basic_color;
}

iframe {
  min-width: 100%;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



// плавное затухание
input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
